
/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


/* Style the footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: flex;
    margin-bottom: 0;
    width: 100%;
}
.social-icons{
    margin-top:10px;
}
.social-icons a{
    text-decoration:none;
    font-size:30px;
    margin-right:45px;
    color: rgb(159, 45, 137);
    display:inline-block;
    transition:transform 0.5s;
}
.social-icons a:hover{
    color:rgb(252, 244, 244);
    transform: translateY(-5px);
}

.content{
    flex-grow: 1; 
}

/* Home Section*/
.content{
    padding: 50% 0;
    background-image: url(image/sunset.jpeg);
    background-size: cover;
    font-family: sans-serif; 
}
.home-text{
    
    font-size: 30px;
}
.home-text h1{
    margin-top: 5px;
    font-size: 60px;
}

/* About Section*/
#about{
    background-color: white;
    padding: 90px ;
    color: rgba(11, 9, 9, 0.973);
}

.abtweb{
    margin-bottom: 40px;
    padding: 50px;
}
.abtweb p{
    padding: 30px;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    inline-size: none;
    line-height: 35px;
    color: black;
    
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col1{
    flex-basis: 35%;
}
.about-col1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 20px;
    font-weight: 600;
    margin-top: -40px;
    margin-bottom: 30px;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;

}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: rgb(7, 221, 139);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color:blueviolet;
    font-size: 14px;
}

.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;   
}

/*services section*/
#services{
    padding:70px 0;
    background-color: rgb(15, 15, 82);
    margin-top: 30px;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px
}
.services-list div{
    background: blue;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;

}
.services-list div h2{
    font-size:30px;
    font-weight: 500;
    margin-bottom: 15px;

}
.services-list div a{
    text-decoration: none;
    color:rgb(237, 228, 228);
    font-size: 12px;
    margin-top:20px;
    display: inline-block;
}
.services-list div:hover{
    background: red;
    transform: translateY(-10px);
}


/* This is a portfolio section */

#portfolio{
    padding:50px ;
    background-color: rgb(15, 15, 82);
    margin-top: 70px;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fit);
    grid-gap: 40px;
    margin-top: 50px;  
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width:100%;
    height: 70%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.work h5{
    color: white;
    text-emphasis-color: white;
}
.layer{
    width:100%;
    height:10%;/*this is to hide the rayer text and other stuff*/
    background: linear-gradient(rgba(0,0,0,0.6), rgb(165, 165, 168));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    
    align-items: center;
    justify-content: center;
    flex-direction: colum;
    padding: 0 10px;
    font-size: 14px; 
    transition: height 0.5s; 
}
.layer p{
    color: white;
    font-size: medium;
    font-weight: 20px;
    
}

.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height:100%;
}

.btn{
    display: block;
    margin: 20px auto;
    width: fit-content;
    border: 1px solid rgb(11, 9, 9);
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color:greenyellow;
    transition: background 0.5s;
    background-color: blue;
}
.btn:hover{
    background:rgb(151, 9, 80);
}


   /*class section*/
header{
  position: fixed;
  height: 40vh;
  top: 0;
  left: 0;
  width: 100%;
}
.header1{ /*this is for the header image*/
    background-image: url(image/libresearch.jpeg );
    margin-bottom: 10px;
    margin-top: -10px;
    background-size: cover;
    font-family: sans-serif; 
    /*filter: blur(2px); */ 
}
.title1{ /*title for all following the header section*/
    text-align: center;
    background-color: rgb(255, 247, 247);  
    margin-top: 310px;
    font-size: 10px;
    padding: 0 30px;
    
}
.title{ /*title for all articles*/
    text-align: center;
    background-color: rgb(255, 255, 254); 
    font-size: 10px; 
    padding: 0 30px;
    margin: 20px;
}
.title1 >p{
    font-size: 13px;
}
.title >p{
    font-size: 13px;
}
.article{
    padding: 0 30px;
    background-color: rgba(242, 242, 242, 0.874);
}
.bdi-text{
    color:rgb(137, 11, 11);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 60px;
    margin-top: -170px;
}

.class-text{
    color:rgb(239, 142, 218);
    text-align: center;
    font-size: 20px;
    line-height: 60px;
    margin-top: 90px;
}

 .art-text > p{
    margin-left: 6px;
    background-color: rgb(237, 255, 255);
    margin-bottom: 50px;
    padding: 50px 50px;
    line-height: 30px;
    margin-top: 10px;
 }
.art-cont{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pic{
    margin-top: 0;
    width: 500px;
    height: 100vh;
}

.aft-article{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
    padding: 0 20px;
}
.aft-cont1 img{
    height: 80vh;
    width: 100%;
    
}

.aft-cont2 img{
    height: 80vh;
    width: 100%;
    margin-left: 30px;
}
/*burundi section*/ 
.header2{ /*this is for the header image*/
    background-image: url(image/mhta.jpeg);
    margin-bottom: 10px;
    margin-top: -10px;
    background-size: cover;
    font-family: sans-serif; 
    
}
.header2 img{
    height: 30vh;
    border-image: round;
    display: block;
    border-radius: 40px;
    margin-top: 80px;
    
}
.bdi-text{
    font-family: sans-serif;
}



/* contact section*/
#contact{
    display: grid;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgb(16, 59, 59);
    height: 0%;
    margin-top: 4%;
    padding: 18px 0;
}
.cont-title{
    font-size: 50px;
    margin-left: 40%;
    margin-bottom: 5%;
    font-weight: 600;
    color: white;
}
.cont-headers{
    color: coral;
}
.reach{
    display: flex; /*this is to display two section that are under one section side by side*/
}
.contact-left{
    width: 50%;
    margin-right: 8%;
    margin-left: 7%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
margin-top: 20px;
}
.contact-left p i{
    color: rgb(167, 9, 9);
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top:50px;
}
.social-icons a{
    text-decoration:none;
    font-size:30px;
    margin-right:45px;
    color: rgb(159, 45, 137);
    display:inline-block;
    transition:transform 0.5s;
}
.social-icons a:hover{
    color:rgb(252, 244, 244);
    transform: translateY(-5px);

}
.btn.btn2 a:hover{
    display: inline-block;
    background: rgb(98, 94, 156);
    color: crimson;
}
.contact-form form{
    width: 80%;
    margin-left: 2%;

}

label{
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
}
form input[type="text"],
form input[type="email"],
form input[type="subject"],

form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: rgb(207, 202, 195);
    padding: 15px;
    margin: 15px 0;
    color: rgba(14, 12, 12, 0.395);
    font-size:18px;
    border-radius:6px;
}
form .btn.btn2{
    padding:14x 60px;
    font-size: 18px;
    cursor: pointer;
    margin-top:20px;
    background-color: crimson;
}
